.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); display: inline;}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font1-400);
}

:root {
    --font1-400: 'Raleway', sans-serif;
    --font1-700: 'Raleway', sans-serif;
    --font2-400: 'Open Sans', sans-serif;

    --clr-primary1: hsl(243, 87%, 12%);
    --clr-primary2: hsl(238, 22%, 44%);
    
    --clr-accent1: hsl(224, 93%, 58%);
    --clr-accent2: hsl(170, 45%, 43%);

    --clr-neutral1: hsl(240, 75%, 98%);
    --clr-neutral2: hsl(0, 0%, 100%);
}

.bg-neutral1 { 
    background: var(--clr-neutral1); 
    color: var(--clr-primary1); 
}

.bg-neutral2 { 
    background: var(--clr-neutral2); 
    color: var(--clr-primary1); 
}

.bg-primary1 { 
    background: var(--clr-primary1); 
    color: var(--clr-neutral1); 
}

.bg-primary2 { 
    background: var(--clr-primary2);
    color: var(--clr-neutral1); 
}

/* NAV */

nav {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
    height: auto !important;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.navLinks {
    display: none;
    cursor:pointer;
}

nav .icon {
    font-size: 2rem;
    width: 3rem; height: 3rem;
    background: transparent;
    border: none;
    cursor:pointer;
    color: var(--clr-primary2);
}

.icon:hover,
.icon:focus {
    transform: scale(110%);
}

.icon:hover {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

:is(ul, li, a) {
    display: block;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    padding: .5rem 0;
    margin: 0;
}

nav li {
    width: 10ch;
}

.login {
    font-size: 1rem;
    border-radius: 2em;
    text-align: center;
    background: var(--clr-primary1);
    color: white;
    padding: .5em 2em;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.login:hover,
.login:focus {
    background: transparent;
    color: var(--clr-primary2);
    border: .1em solid var(--clr-primary2);
}

a:hover,
a:focus {
    color: var(--clr-accent1);
}

.login:active {
    color: var(--clr-accent2);
}

h1, h2, h3 {
    font-family: var(--font1-700);
    padding: 2rem 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-family: var(--font1-400);
    font-size: 1.2rem;
    padding: 1rem 0;
}

/* ===============
      FORMS
   =============== */
.invalidText {
    border: 1px dashed red !important;
    background: rgba(255, 0, 0, 0.05);
}


/* BODY */


div .site-form {
    text-align:center;
}

.split {
    display: flex;
    flex-direction: column-reverse;
    padding: 3rem 2rem;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

header, section {
    padding: 1rem 0;
}

article {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: var(--clr-neutral2);
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

article > * {
    flex-basis: 100%;
}

article img {
    border-radius: 50%;
    float: left;
    padding: 1rem;
}

.person {
    line-height: 1rem;
}

.person h4 {
    padding-top: 2rem;
}

.person h5 {
    font-size: .7rem;
}

.person img {
    width: 6rem;
    height: 25%;
}

/* IMG, LIST, INPUT styling*/
img {
    display: block;
    max-width: 100%;
}

.about a img {
    display: inline-block;
}

.about a {
    display: flex;
    color: var(--clr-accent2);
    text-decoration: underline;
    text-transform: capitalize;
    text-underline-offset: .5rem;
    margin: .5rem;
}

.about a:hover,
.about a:focus {
    color: var(--clr-accent1);
}

input[type=text], input[type=submit] {
    border-radius: .3rem;
    width: min(50%,100%);
    display: inline-block;
}

input[type=text] {
    padding: .8rem 1rem;
    margin: .5rem 0;
    border: .1rem solid var(--clr-primary1);
}

input[type=submit] {
    font-weight: bold;
    padding: .8rem 0;
    background: var(--clr-accent1);
    border: none;
    color: var(--clr-neutral1);
    transition: ease 300ms all;
}

input[type=submit]:hover,
input[type=submit]:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    transition: ease 300ms all;
    cursor:pointer;
}

/* FOOTER */

.footer li  {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
}

.fab {
    border-radius: 50%;
    border: .1rem solid var(--clr-neutral1);
    padding: 1rem;
    margin: 0 .5rem;
    height: 3rem;
}

.footer img {
    display: inline-block;
    padding-right: 1rem;
}

.footer {
    flex-direction: column;
}

.footerLogo {
    filter: brightness(0) invert(1);
}

.socialMedia {
    display: flex;
    justify-content: center;
    height: auto;
}

.socialMedia .fab:hover {
    color: var(--clr-accent2);
    cursor:pointer;
}

/* MEDIA QUERIES */

.divider {
    background-image: url('../images/bg-curve-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
}

.about {
    margin-top: 3rem;
}

@media (min-width: 1200px) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
        padding: 2rem;
    }

    .split > * + * {
        margin-left: 2em;
    
    }

    .navLinks, .navLinks li, .navLinks ul {
        display: inline-block !important;
    }

    .icon {
        display: none;
    }

    form {
        display: flex;
        flex-direction: row;
    }

    form > * {
        flex-basis: 100%;
    }

    .divider {
        background-image: url('../images/bg-curve-desktop.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 10rem;
    }

#form2 {
    margin: auto;
}

    input[type=submit] {
        max-width: 30%;
        padding: .8rem 0;
        margin: .5rem 1rem;
        background: var(--clr-accent1);
        border: none;
        color: var(--clr-neutral1);
    }

   .bg-neutral1 img {
       position: relative;
        top: 6%;
    }

    h1, h2, h3  {
        text-align: left;
    }

    footer {
        display: flex;
        justify-content:center;
    }

    .columnImage img {
        max-width: 150%;
    }

    .about {
        margin-top: -3rem;
    }
}

/*
 MODAL
*/

.modalPopup {
    position: fixed;
    top: 0; left: 0;
    height: 100%; width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 10%;
    overflow: auto;

    visibility: hidden;
}

.openModal {
    visibility: visible;
    z-index: 10;
}

.modalPopup .modalBox {
    position: relative;
    width: clamp(50%, 50%, 100%);
    margin: 0 auto;
    background: var(--clr-neutral2);
    border-radius: 2rem;
    padding: 5rem;
    display: flex;
    gap: 3rem;
    z-index: 9;

}

.modalBox > * {
    flex: 1 1 100%;
}

.modalBox h2 {
    padding: 2rem 0;
    color: var(--clr-primary2);
}

.modalBox .modalCloseBtn {
    position: absolute;
    border-radius: 30%;
    top: 0; right: 0;
    font-size: 2.5rem;
    padding: 1rem;
    font-weight: bold;
    cursor:pointer;
}

.modalCloseBtn:hover {
    transform: scale(115%);
}

.modalBox form {
    padding: 1em 0;
}

.modalBox input[type=text] {
    width: min(100%, 20em);
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: .1rem solid var(--clr-primary1);
    margin:1rem 0;
    display: block;
    
}

.modalBox input[type=text]:active {
    border: none;
}
.modalBox input[type=submit] {
    width: min(100%, 10em);
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    color: var(--clr-neutral2);
    background: var(--clr-accent1);
    margin: .5rem 0;
    transition: none;
}

.modalBox input[type=submit]:hover {
    color: var(--clr-accent1);
    background: var(--clr-neutral2);
    border: 1px var(--clr-accent1) solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor:pointer;
}

.modalForm {
    display: block;
}

@media (max-width:900px) {
    .modalBox {
        flex-direction: column;
    }
}